<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IIO11300project.Properties.Settings.Database" connectionString="Server = mysql.labranet.jamk.fi; database =H9073_2; user = H9073; password = hWpLs99o8zwjXQzcQdXHdkZDdgDYZ9p9" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>